{% load static %}
<nav class="nav">
  <div class="container nav__inner">
    <a class="nav__logo" href="{% url 'core_app:home' %}">ShiftFloor</a>
    <ul class="nav__links">
      <li><a href="{% url 'shifts_app:shift_browse' %}">Find shifts</a></li>
      <li><a href="{% url 'core_app:how_it_works' %}">How it works</a></li>
      <li><a href="{% url 'core_app:certifications_info' %}">Certifications</a></li>
      <li><a href="{% url 'core_app:pricing' %}">Pricing</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'core_app:role_redirect' %}">Dashboard</a></li>
        <li><a href="{% url 'accounts_app:logout' %}">Log out</a></li>
      {% else %}
        <li><a href="{% url 'accounts_app:login' %}">Log in</a></li>
        <li><a class="btn btn--primary" style="padding:8px 16px;" href="{% url 'accounts_app:signup_worker' %}">Get started</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
